.passwordInput {
	width: 100%;
	min-height: 48px;
	border: 1px solid #e8e8e8;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 12px 40px 12px 16px;
  outline: none;
}

.passwordInput:focus {
	border: 1px solid #883CFF;
}

.passwordInput.error{
	border: 1px solid #D50B3E;
}

.passwordInput::placeholder {
	color: #bbbbc8;
	line-height: 20px;
	font-weight: 400;
	font-size: 16px;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.eyeButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
}