.input {
	width: 100%;
	min-height: 48px;
	border: 1px solid #e8e8e8;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 12px 40px 12px 16px;
	outline: none;
  transition: .5s all;
}

.input:focus {
	border: 1px solid #883cff;
}

.input.error {
	border: 1px solid #d50b3e;
}

.input::placeholder {
	color: #bbbbc8;
	line-height: 20px;
	font-weight: 400;
	font-size: 16px;
}

.inputWrapper{
  margin: 0;
  padding: 0;
}

.input.error{
	border: 1px solid #D50B3E;
}
