.userBlockWrapper {
	display: flex;
	flex-direction: row;
	min-width: 740px;
	max-width: 1200px;
	max-height: 900px;
	padding: 24px;
	box-sizing: border-box;
	gap: 15px;
	border-radius: 24px;
	box-shadow: 0 4px 10px 0 rgba(106, 99, 118, 0.1);
	background-color: #fff;
}

.editLinkWrapper{
	margin-top: 6px;
}