.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
	background-color: #fff;
	border-radius: 24px;
	padding: 24px;
	box-sizing: border-box;
	min-width: 740px;
	max-width: 1200px;
	box-shadow: 0 4px 10px 0 rgba(106, 99, 118, 0.1);
}
